<h1>{{ title }}</h1>

<h2>Skaters</h2>
<pre>
[size=150]Skaters[/size]
[table]
[tr]
  [td][center][b]Team[/b][/center][/td]
  [td][center][b]POS[/b][/center][/td]
  [td][center][b]Player[/b][/center][/td]
  [td][center][b]CK[/b][/center][/td]
  [td][center][b]FG[/b][/center][/td]
  [td][center][b]DI[/b][/center][/td]
  [td][center][b]SK[/b][/center][/td]
  [td][center][b]ST[/b][/center][/td]
  [td][center][b]EN[/b][/center][/td]
  [td][center][b]DU[/b][/center][/td]
  [td][center][b]PH[/b][/center][/td]
  [td][center][b]FO[/b][/center][/td]
  [td][center][b]PA[/b][/center][/td]
  [td][center][b]SC[/b][/center][/td]
  [td][center][b]DF[/b][/center][/td]
  [td][center][b]PS[/b][/center][/td]
  [td][center][b]EX[/b][/center][/td]
  [td][center][b]LD[/b][/center][/td]
  [td][center][b]OV[/b][/center][/td]
  [td][center][b]YOB[/b][/center][/td]
[/tr]
{{#each skaters}}
[tr]
  [td][center]{{ this.team }}[/center][/td]
  [td][center]{{ this.position.formatted}}[/center][/td]
  [td][center]{{ this.name.first }} {{ this.name.last }}[/center][/td]
  [td][center]{{ this.ratings.checking }}[/center][/td]
  [td][center]{{ this.ratings.fighting }}[/center][/td]
  [td][center]{{ this.ratings.dicipline }}[/center][/td]
  [td][center]{{ this.ratings.skating }}[/center][/td]
  [td][center]{{ this.ratings.strength }}[/center][/td]
  [td][center]{{ this.ratings.endurance }}[/center][/td]
  [td][center]{{ this.ratings.durability }}[/center][/td]
  [td][center]{{ this.ratings.puck_handling }}[/center][/td]
  [td][center]{{ this.ratings.faceoffs }}[/center][/td]
  [td][center]{{ this.ratings.passing }}[/center][/td]
  [td][center]{{ this.ratings.scoring }}[/center][/td]
  [td][center]{{ this.ratings.defense }}[/center][/td]
  [td][center]{{ this.ratings.penalty_shot }}[/center][/td]
  [td][center]{{ this.ratings.experience }}[/center][/td]
  [td][center]{{ this.ratings.leadership }}[/center][/td]
  [td][center]{{ this.ratings.overall }}[/center][/td]
  [td][center]{{ this.birthday.year }}[/center][/td]
[/tr]
{{/each}}
[/table]
</pre>

<br/><br/><br/>

<pre>
[size=150]Goalies[/size]
[table]
[tr]
  [td][center][b]Team[/b][/center][/td]
  [td][center][b]POS[/b][/center][/td]
  [td][center][b]Player[/b][/center][/td]
  [td][center][b]SK[/b][/center][/td]
  [td][center][b]DU[/b][/center][/td]
  [td][center][b]EN[/b][/center][/td]
  [td][center][b]SZ[/b][/center][/td]
  [td][center][b]AG[/b][/center][/td]
  [td][center][b]RB[/b][/center][/td]
  [td][center][b]SC[/b][/center][/td]
  [td][center][b]HS[/b][/center][/td]
  [td][center][b]RT[/b][/center][/td]
  [td][center][b]PH[/b][/center][/td]
  [td][center][b]PS[/b][/center][/td]
  [td][center][b]EX[/b][/center][/td]
  [td][center][b]LD[/b][/center][/td]
  [td][center][b]OV[/b][/center][/td]
  [td][center][b]YOB[/b][/center][/td]
[/tr]
{{#each goalies}}
[tr]
  [td][center]{{ this.team }}[/center][/td]
  [td][center]{{ this.position.formatted}}[/center][/td]
  [td][center]{{ this.name.first }} {{ this.name.last }}[/center][/td]
  [td][center]{{ this.ratings.skating }}[/center][/td]
  [td][center]{{ this.ratings.durability }}[/center][/td]
  [td][center]{{ this.ratings.endurance }}[/center][/td]
  [td][center]{{ this.ratings.size }}[/center][/td]
  [td][center]{{ this.ratings.agility }}[/center][/td]
  [td][center]{{ this.ratings.rebound_control }}[/center][/td]
  [td][center]{{ this.ratings.style_control }}[/center][/td]
  [td][center]{{ this.ratings.hand_speed }}[/center][/td]
  [td][center]{{ this.ratings.reaction_time }}[/center][/td]
  [td][center]{{ this.ratings.puck_handling }}[/center][/td]
  [td][center]{{ this.ratings.penalty_shot }}[/center][/td]
  [td][center]{{ this.ratings.experience }}[/center][/td]
  [td][center]{{ this.ratings.leadership }}[/center][/td]
  [td][center]{{ this.ratings.overall }}[/center][/td]
  [td][center]{{ this.birthday.year }}[/center][/td]
[/tr]
{{/each}}
[/table]
</pre>